*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Cookie', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Bebas Neue', sans-serif;

}

body{
    width: 100vw;
    height: fit-content;
    font-size: 75px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

/*Load Page*/

.loader-container{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    background-image: url("images/palm.jpg");
    font-size: 40px;
}

.loader-container h3{
    font-size: 80px;
}

.loader{
    width: 100px;
    height: 100px;
    border: 5px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader{
    25%{
        color: #2ecc71;
    }
    50%{
        color: #f1c40f;
    }
    75%{
        color: #e74c3c;
    }
    to{
        transform: rotate(360deg);
    }
}

/*Topbar*/

#topbar{
    padding: 20px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    z-index: 90;
    color: white;
    transition: ease-in-out 1s;
    text-shadow: 2px 2px 20px #000000;
}

#topbarbis{
    padding: 20px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    z-index: 90;
    background-color: white;
}

.indexsport_sporty #topbarbis{
    color: #E6635A;
}
.indexsport_mix #topbarbis{
    color: #FABDBD;
}
.indexsport_yoga #topbarbis{
    color: #F4A460;
}

/*Navbar*/

.homebtn{
    position: fixed;
    z-index: 200;
    margin: 28px 5%;
    right: 0;
    top: 0 ;
}

.homebtn img{
    height: 80px;
}

.navbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    font-size: 50px;
    box-shadow: 0px 8px 21px 6px #000000;
}

.navbar a{
    text-decoration: none;
    color: #000000;
}


#soon{
    background-color: #000000;
    color: white;
    position: fixed;
    width: fit-content;
    padding: 25px 20px;
    z-index: 300;
    bottom: 0;
    left: 54%;
    font-size: 40px;
    transform: translateY(200px);
    transition: ease-in-out 0.4S;
    
}
#soon2{
    background-color: #000000;
    color: white;
    position: fixed;
    width: fit-content;
    padding: 25px 20px;
    z-index: 300;
    bottom: 0;
    left: 77%;
    font-size: 40px;
    transform: translateY(200px);
    transition: ease-in-out 0.4S;
}

/*Index Swiper*/

.swiper {
    width: 100%;
    height: 70vh;
    color: white;
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
    --swiper-navigation-size: 90px;
    --swiper-pagination-bullet-size :30px;
    background-image: url("images/palm.jpg");
    background-size: cover;
  }

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet{
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0) !important;
}

.swiper-pagination{
    bottom: auto !important;
    top: 62vh !important;
}


.swiphome .swiper-slide{
    box-shadow: inset 0px -15px 43px 5px rgba(0,0,0,0.58);
    z-index: 200;
}

.caroussel0{
    background-image: url("images/Carroussel0/Carroussel0.jpg");
    background-size: cover;   
}

.caroussel1{
    background-image: url("images/Carroussel1/Carroussel1.jpg");
    background-size: cover;   
}
.caroussel2{
    background-image: url("images/Carroussel2/Carroussel2.jpg");
    background-size: cover;   
}
.caroussel3{
    background-image: url("images/Carroussel3/Carroussel3.jpg");
    background-size: cover;   
}

.boutonHomepage a{
    background-color: #E6635A;
}

.titrecarroussel{
    padding: 5px 20px;
    color: #000000;
    width:fit-content;
    background:white;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.caroussel0 .titrecarroussel, .caroussel1 .titrecarroussel, .caroussel2 .titrecarroussel, .caroussel3 .titrecarroussel{
    padding: 5px 20px;
    color: white;
    width:fit-content;
    border-radius: 10px;
    background:none;
    box-shadow:none;
    font-size: 140px;
    text-shadow: 2px 2px 20px #000000;
    margin-top: 27vh;
}

.coming0{
    background-color: black;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px #FFFFFF;
    transform: rotate(25deg); 
    width: 160%;
    padding-right: 15%;
    margin-top: 0px;
    margin-bottom: -400px;
}

.caroussel0 .titrecarroussel{
    margin-top: 380px;
    margin-bottom: 150px;
}


.caroussel1 .titrecarroussel{
    margin-top: 10vh;
}

.caroussel2, .caroussel3{
    overflow: hidden;
}

.header-programme{
    margin-top: 50px;
    margin-bottom: 5%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 20px #000000;
}

.programmes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    
}

.programmes .btn{
    color: white;
    background: transparent;
    text-decoration: none;
    padding: 10px 30px; 
    border: none;
    margin: 0;
}

.sporty{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 20vh;
    background-image: url("images/Carroussel1/SPORTY1.jpg");
    background-size: cover;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    text-shadow: 2px 2px 20px #000000;
    border-radius: 20px;
}
.sporty .btn{
    color: #E6635A;
}


.mix{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 20vh;
    background-color: #FABDBD;
    background-image: url("images/Carroussel1/MIX1.png");
    background-size: cover;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    text-shadow: 2px 2px 20px #000000;
    border-radius: 20px;
}
.mix .btn{
    color: #FABDBD;
}

.yoga{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 20vh;
    background-color: #F4A460;
    background-image: url("images/Carroussel1/FLEXI1.png");
    background-size: cover;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    text-shadow: 2px 2px 20px #000000;
    border-radius: 20px;
}
.yoga .btn{
    color: #F4A460;
}

/*News*/

.titrehomepage{
    position: absolute;
    top: 59vh;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 2;
}
.white{
    color: white;
}

.weekupdates .tit{
    margin-top: 50px;
    margin-left: 50px;
}

.weekswiper{
    width: 95%;
    height: 40vh;
}


.carousselweek1{
    background-color: #E6635A;
}

.carousselweek2{
    background-color: #E6635A;
}

.carousselweek3{
    background-color: #E6635A;
}


.header-news{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 50px;
}
.news{
    margin-left: 5%;
    width: 90%;
    text-align: justify;
    font-size: 25px;
}

.photo-news{
    margin-top: 40px;
    margin-bottom: 40px;
    background-size: cover;
    height: 600px;
    border-radius: 20px;
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 350px;
    text-shadow:  2px 2px #000000;
}

.photo1{
    background-image: url("images/MAIN/FAVWORK.jpg");
}
.photo2{
    background-image: url("images/MAIN/FAVRECIPIES.jpg");
}

.footer{
    background-color: #000000d0;
    color: white;
    padding-left: 50px;
    margin-top: 100px;
    padding-top: 50px;
    height: 500px;
}

.footer .container-btn{
    display: flex;
    text-align: center;
    justify-content: center;
}

.footer .btn {
    height: 150px;
    width: 150px;
    padding: 20px;
    margin: 0 50px;
}

.footer .btn img{
    max-width:100%;
    height:auto;
}

.footer .container-btn :nth-child(2) img{
    max-width:80%;
    height:auto;
}


/*Index-Sport*/

/*Différentes pages*/

.indexsport_sporty, .indexsport_mix, .indexsport_yoga{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}

.indexsport_sporty .deco{
    background-color: #E6635A;
}

.indexsport_sporty .homephoto{
    background-image: url("images/Sporty/SPORTY.jpg");
}
.indexsport_mix .homephoto{
    background-image: url("images/MIX/MIX.jpg");
}
.indexsport_yoga .homephoto{
    background-image: url("images/Flexi/FLEXI.jpg");
}

.indexsport_sporty .navbar :nth-child(1){
    color: #E6635A;
}
.indexsport_mix .navbar :nth-child(2){
    color: #FABDBD;
}
.indexsport_yoga .navbar :nth-child(3){
    color: #F4A460;
}


/*Accueil*/

.titre{
    position: absolute;
    color: white;
    background-color: #E6635A;
    border-radius: 0 50px 50px 0;
    width: 350px;
    margin-left: 0;
    margin-top: 140px;
    text-align: left;
    padding-left: 40px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.indexsport_mix .titre{
    background-color: #FABDBD;
}

.indexsport_yoga .titre{
    background-color: #F4A460;
}

.accueil {
    font-size: 7vw;
    margin-top: 300px;
    text-align: center;
    color: white;
    background-color: black;
    background: linear-gradient(102deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.7) 100%);
}

.homephoto{
    background-size: cover;
    height: 800px;
    width: 560px;
    position: absolute;
    right: 0;
    top : 140px;
    z-index: -1;
}

.lvl{
    font-size: xxx-large;
    font-style: italic;
    position: relative;
    margin-top: 400px;    
    margin-left: 10px;
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    column-gap: 10px;
}

.iconeDuration, .iconeIntesity, .iconeEquipement{
    display: flex;
    align-items: center;
    justify-content: center;
}
.explicationDuration, .explicationIntesity, .explicationEquipement{
    display: flex;
    align-items: center;
}

.lvl img{
    height: 80px;
}

.iconeDuration img{
    height: 60px;
}

.citation{
    position: relative;
    width: 90%;
    margin-left: 5%;
    text-align: justify;
    margin-top: 300px;
    font-size: 40px;
    color: black;
}

.plan{
    text-align: center;
    margin-top: 150px;
    color: #E6635A;
}

.indexsport_mix .plan{
    color: #FABDBD;
}

.indexsport_yoga .plan{
    color: #F4A460;
}


.indexsport_sporty .swiper, .indexsport_mix .swiper, .indexsport_yoga .swiper{
    height: 1500px;
}

.indexsport_sporty .swiper img, .indexsport_mix .swiper img, .indexsport_yoga .swiper img{
    display: inline;
    width: 200px;
    height: 200px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.indexsport_sporty .swiper-slide, .indexsport_mix .swiper-slide, .indexsport_yoga .swiper-slide {
    display: block;
}

.indexsport_sporty .titrecarroussel, .indexsport_mix .titrecarroussel, .indexsport_yoga .titrecarroussel{
    margin-top: 100px;
    width: 40%;
    margin-left: 30%;
}

.activite{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    font-size: xxx-large;
    background-color: #E6635A;
    padding: 20px 40px;
    border-radius: 20px;
    width: 85%;
    height: 350px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 7.5%;
}
.activite_div1 { grid-area: 1 / 1 / 3 / 2; }
.activite_div2 { grid-area: 1 / 2 / 2 / 3; }
.activite_div3 { grid-area: 2 / 2 / 3 / 3; }

.indexsport_mix .activite{
    background-color: #FABDBD;
}

.indexsport_yoga .activite{
    background-color: #F4A460;
}

.activite img{
    border-radius: 50%;
}

.swiper-slide a{
    text-decoration: none;
    color: white;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: auto;
    padding: 10px 30px;
}

.indexsport_sporty .swiper-pagination, .indexsport_mix .swiper-pagination, .indexsport_yoga .swiper-pagination{
    bottom: auto !important;
    top: -25px !important;
    box-shadow: none ! important;
    background-color: #E6635A !important;
}

.indexsport_sporty .swiper, .indexsport_mix .swiper, .indexsport_yoga .swiper{
    
    --swiper-navigation-color: black !important;
}

.indexsport_mix .swiper-pagination{
    background-color: #FABDBD !important;
}

.indexsport_yoga .swiper-pagination{
    background-color: #F4A460 !important;
}

.sunday{
    color: #000000;
    margin-top: 540px;
    font-size: 100px;
    background-color: white;
}



/*Presentation*/

.titrepres{
    width: 100%;
    text-align: center;
    padding-top: 200px;
    color: white;
    text-shadow: 2px 2px 20px #000000;
}

.Who, .am, .I{
    display: inline;
}

.Who{
    color: #E6635A;
}

.am{
    color: #FABDBD;
}

.I{
    color: #F4A460;
}

.descrpitionpres{
    margin-top: 900px;
    margin-bottom: 200px;
    font-family: 'Cookie';
    width: 90%;
    margin-left: 5%;
    text-align: justify;
    font-size: 20px;
}

.photopres{
    background-image: url("images/Présentation/Présentation.jpg");
    background-size: cover;
    width: 90%;
    height: 1000px;
    margin-left: 5%;
    position: absolute;
    top: 200px;
    z-index: -20;

}

/*Pages fav*/

.titrefav{

    width: 100%;
    text-align: center;
    padding-top: 200px;
    color: black;
    font-size: 100px;
   
}

.fav{
    height: 100vh;
}


/*Responsive*/

.soonpc, .soon2pc{
    display: none;
}

@media  screen and (min-aspect-ratio : 1/1){

    .swiphome{
        background-image: url("images/palm.jpg");
        background-size: cover;
    }

    #topbar{
        font-size: 30px;
        padding: 10px;
    }

    .navbar{
        height: 50px;
        font-size: 30px;
        width: 80px;
        height: 100vh;
        bottom: auto;
        top: 0;
        flex-direction: column;
        background-color: #000000;
        color: white;
        box-shadow: none;
    }

    .navbar a{
        color: white;
    }
    .navbar a:nth-child(1){
        margin-top: 60px;
    }

    .navbar a:hover:nth-child(1)  {
        transition: 0.4s ease-in-out;
        color: #E6635A;
    }

    .navbar a:hover:nth-child(2)  {
        transition: 0.4s ease-in-out;
        color: #FABDBD;
    }
    .navbar a:hover:nth-child(3)  {
        transition: 0.4s ease-in-out;
        color: #F4A460;
    }

    #soon, #soon2{
        display: none;        
    }

    .soonpc, .soon2pc{
        display: block;
        position: fixed;
        z-index: 300;
        left: 6px;
        color: white;
        font-size: 15px;
        font-style: italic;
    }

    .soonpc{
        top: 73.8vh
    }
    .soon2pc{
        top: 90vh
    }

    .homebtn{
        margin: 0;
        margin-left: 4px;
        height: 80px;
        right: auto;
        
    }

    .homebtn img{
        height: 40px;
        content:url("logos/logo_white.png");
    }

    .caroussel0 .titrecarroussel, .caroussel1 .titrecarroussel, .caroussel2 .titrecarroussel, .caroussel3 .titrecarroussel{
        font-size: 70px;
    }

    

    .caroussel0 .titrecarroussel{
        margin-top: 240px;
        margin-bottom: 0;
    }

    .caroussel1 .titrecarroussel{
        margin-top: 270px;
    }

    .caroussel2 .titrecarroussel, .caroussel3 .titrecarroussel{
        margin-top: 570px;
    }


    .caroussel0 a{
        box-shadow:  -4px 6px -3px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        border-radius: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color:#999999b7;
    }

    .coming0{
        margin-top: 0;
        margin-bottom: -800px;
    }

    .swiper{
        --swiper-navigation-size: 45px;
        --swiper-pagination-bullet-size :15px;
        width: 50%;
        height: 100vh;
    }

    .swiper-slide a{
        font-size: 30px;
    }

    .swiper-pagination{
        top: 87vh !important;
    }

    .programmes .sporty, .programmes .mix, .programmes .yoga{
        width: 150px;
    }

    .header-programme{
        font-size: 30px;
    }

    .coming0{
        font-size: 50px;
    }

    .weekupdates .tit{
        font-size: 50px;
    }
    .titrecarroussel{
        font-size: 30px;
    }

    .weekswiper{
        width: 95%;
        height: 50vh;
    }

    .header-news{
        font-size: 50px;
        margin-bottom: 0;
    }

    .news{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .news a{
        width: 45%;
    }

    .photo-news{
        font-size: 50px;
        padding: 150px 100px;
        height: 350px;
    }

    .footer{
        font-size: 50px;
        height: 300px;
    }

    .footer .btn{
        width: 100px;
    }

    h3{
        margin-left: 5%;
    }

    .titrepres{
        padding-top: 80vh;
    }

    .photopres{
        width: 50%;
        margin-left: 25%;
        top: 0;
        height: 100vh;       
         
    }

    .descrpitionpres{
        margin-top: 100px;
        width: 80%;
        margin-left: 10%;
    }

    #topbarbis{
        font-size: 50px;
    }

    .titre, .lvl, .citation{
        margin-left: 150px;
    }

    .titre{
        padding: 0;
        border-radius: 0;
        text-align: center;
        width: fit-content;
        
        box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.61);
    }

    .titre h3{
        font-size: 60px;
        margin: 0;
        padding: 8px 50px;
    }
    
    .lvl{
        font-size: 30px;
        margin-top: 250px;
    }

    .citation{
        font-size: 30px;
        margin-top: 100px;
        padding-right: 620px;
    }

    .plan{
        margin-top: 250px;
    }

    .plan h3{
        font-size: 60px;
    }

    .activite{
        font-size: 30px;
    }

    .plan h3, .loader-container h3{
        margin: 0;
    }

    .indexsport_sporty .titrecarroussel, .indexsport_mix .titrecarroussel, .indexsport_yoga .titrecarroussel{
        width: 25%;
        margin-left: 37.5%;
    }


}


/*Navbar - Old*/
/*
.menu{
    position: fixed;
    z-index: 100;
    height: 120px;
    width: 120px;
    padding: 20px;
    left: 0;
    top: 0;
    background-color: white;
    transition: ease-in-out 0.4s;
}

#LANAV{
    transform: translateX(-500px);
}

.navbar{
    transition: ease-in-out 0.4s;
    z-index: 101;
    background-color: white;
    box-shadow: 5px -4px 6px -3px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: left;
    justify-content: bottom;
    flex-direction: column;
}

.navbar .closee{
    height: 120px;
    width: 120px;
    padding: 20px;
    left: 0;
    bottom: 0;
}

.navbar .closee img, .menu img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.navbar .btn{
    padding: 50px 150px;
    text-align: center;
}
.navbar :nth-child(2){
    background-color: black;
    color: white;
}
.navbar :nth-child(3){
    background-color: #E6635A;
    color: white;
}
.navbar :nth-child(4){
    background-color: #FABDBD;
    color: white;
}
.navbar :nth-child(5){
    background-color: #F4A460;
    color: white;
}

.navbar :nth-child(6){
    color: black;
}

.navbar a{
    text-decoration: none;
    color: white;
}
*/